---
import MainContainer from "@/components/containers/MainContainer/MainContainer.astro";
import MobileWarning from "@/components/MobileWarning/MobileWarning.astro";
import "@fontsource/kanit";
import "../styles/globals.css";
---

<script>
  const closeButton = document.getElementById("close");
  closeButton?.addEventListener("click", () => {
    const dialog = document.querySelector("dialog");
    if (!dialog) return;
    dialog.close();
    dialog.className = "";
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="description"
      content="With NeatBG you can create stunning website backgrounds from your images with intuitive customization options"
    />
    <meta
      name="keywords"
      content="background generator, image backgrounds, web design, customization, web development, digital art, personalization, design, frontend, ui, ux, creative"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NeatBG</title>
  </head>
  <body>
    <MobileWarning />
    <MainContainer />
  </body>
</html>
