<dialog
  open
  class="inset-0 text-white w-screen h-screen bg-transparent md:hidden grid place-items-center backdrop-blur-sm z-50"
>
  <div
    class="p-8 flex flex-col justify-center items-center gap-4 rounded-lg bg-dark max-w-[75vw]"
  >
    <p class="text-center">
      We encourage you to use the desktop version of the website for a better
      experience.
    </p>
    <button
      id="close"
      class="border-white/25 bg-transparent hover:bg-white/5 border px-6 rounded-lg py-2"
      >Close</button
    >
  </div>
</dialog>
