---
import InputFile from "@/components/InputFile/InputFile";
---

<canvas
  id="previewCanvas"
  class="w-full h-full absolute inset-0 -z-10"
  width="1920"
  height="1080"></canvas>

<img
  src="noise.webp"
  id="noise"
  class="w-screen h-screen absolute inset-0 pointer-events-none -z-10 opacity-[.075] object-cover object-center hidden"
  alt="test"
/>

<div class="bg-dark/75 p-4 rounded-lg">
  <InputFile client:load />
</div>
